* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

:root {
    --primary-color: #AD96BB;
    --light-color: #EDEDED;
    --dark-color: #2A2A2A;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #fff;
}

a {
    text-decoration: none;
    color: var(--dark-color);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Navbar */
.navbar {
    background: #fff;
    padding:20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: var(--primary-color);
}

.navbar ul li a i {
    margin-right: 10px;
}

.navbar ul li:last-child a {
    margin-left: 10px;
}

.navbar .logo {
    max-width: 90px;
}

/* Hero */
.hero {
    margin-bottom: 50px;
}

.hero .container {
    background: url('../images/hero-bg.png') no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.hero .hero-content {
    width: 70%;
}

.hero .hero-text {
    width: 70%;
    margin-bottom: 20px;
}

/* About Me */
.about {
    padding: 30px 30px;
}

.about .about-content {
    margin-bottom: 40px;
}

/* Projects */
.projects {
    padding: 30px 0;
}

.projects .projects-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin-top: 30px;
}

.projects .projects-in-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.projects .project-card-img {
    max-width: 100%;
    max-height: 100%;
}

.projects .project-card-heading {
    margin-bottom: 20px;
}

.projects .project-card-subheading {
    margin-bottom: 20px;
}

/* Footer */
.footer {
    background-color: var(--dark-color);
    padding: 25px 0;
}

.footer .footerContainer {
    width: 100%;
    padding: 70px, 30px, 20px;
}

.footer .socialIcons {
    display: flex;
    justify-content: center;
}

.footer .socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: var(--light-color);
    margin: 10px;
    border-radius: 48%;
}

.footer .socialIcons a i {
    font-size: 1.5em;
    color: var(--dark-color);
    opacity: 0.9;
}

.footer .socialIcons a:hover i {
    color: var(--primary-color);
    transition: 0.5s;
}

.footer .footerNav {
    margin: 10px 0;
}

.footer .footerNav ul {
    display: flex;
    justify-content: center;
}

.footer .footerNav ul li a {
    color: var(--light-color);
    margin: 15px;
    text-decoration: none;
    font-size: 1em;
    opacity: 0.7;
    transition: 0.5s;
}

.footer .footerNav ul li a:hover {
    color: var(--primary-color);
    transition: 0.5s;
}

.footer .footerBottom {
    color: var(--primary-color);
    font-size: 0.8em;
    background-color: var(--dark-color);
    padding: 20px;
    text-align: center;
}

/* Utility Classes */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0  15px;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-xs {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 15px;
    border-radius: 10px;
}

/* Card */
.card {
    background: var(--light-color);
    color: #000;
    border-radius: 10px;
    padding: 30px 30px;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 13px 20px;
    background: var(--light-color);
    color: #333;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    text-align: center;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: var(--primary-color);
    color: #fff;
}

.btn-dark {
    background: var(--dark-color);
    color: #fff;
}

.btn-block {
    display: block;
    width: 100%;
}

/* Text Classes */
.text-xxl {
    color: var(--dark-color);
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 15px;
}

.text-xl {
    color: var(--dark-color);
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 15px;
}

.text-lg {
    color: var(--dark-color);
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 10px;
}

.text-md {
    color: var(--dark-color);
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-sm {
    color: var(--dark-color);
    font-size: 1rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}

.text-center {
    text-align: center;
}

/* Background */
.bg-primary {
    background: var(--primary-color);
    color: #fff;
}

.bg-light {
    background: var(--light-color);
    color: #333;
}

.bg-dark {
    background: var(--dark-color);
    color: #fff;
}

/* Hamburger Button */
.hamburger-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}

.hamburger-button .hamburger-line {
    width: 30px;
    height: 3px;
    background: #333;
    margin: 6px 0;
}

/* Mobile Menu */
.mobile-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    z-index: 100;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0, 2);
    transition: right 0.3s ease-in-out;
}

.mobile-menu.active {
    right: 0;
}

.mobile-menu ul {
    margin-top: 100px;
    padding-right: 10px;
}

.mobile-menu ul li {
    margin: 10px 0;
}

.mobile-menu ul li a {
    font-size: 20px;
    transition: 0.3s;
}


/* Media Queries */
@media (max-width: 850px) {
    .text.xxl {
        font-size: 2.5rem;
    }

    .projects .projects-in-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }
}

@media (max-width: 600px) {
    .navbar .main-menu {
        display: none;
    }

    .navbar .hamburger-button {
        display: block;
    }

    .hero .hero-content,
    .hero .hero-text {
        width: 100%;
        text-align: center;
    }

    .hero .hero-buttons .btn {
        margin-bottom: 10px;
        display: block;
        width: 100%;
    }
}

@media (max-width: 500px) {
}